// ---------------------------
// FONT ICONS
@import "variables";


@font-face {
  font-family: $font-family-icon;
  src: url("#{icon-path}/picter.ttf") format('truetype'),
        url("#{icon-path}/picter.woff2") format('woff2'),
        url("#{icon-path}/picter.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;

}
 [class^='at-icon-'], [class*=" at-icon-"]{
   font-family: $font-family-icon !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 }

.at-icon-atom:before {
  content: '\e800';
}

.at-icon-logo:before {
  content: '\e801';
}

.at-icon-arrow-down:before {
  content: '\e802';
}

.at-icon-arrow-right:before {
  content: '\e802';
}

.at-icon-arrow-left:before {
  content: '\e802';
}

.at-icon-arrow-up:before {
  content: '\e802';
}

.at-icon-chevron-left:before {
  content: '\e802';
}

.at-icon-user-chevron-right:before {
  content: '\e802';
}

.at-icon-chevron-up:before {
  content: '\e802';
}

.at-icon-card:before {
  content: '\e802';
}

.at-icon-dollar:before {
  content: '\e802';
}

.at-icon-home:before {
  content: '\e802';
}

.at-icon-map:before {
  content: '\e802';
}

.at-icon-cart:before {
  content: '\e802';
}

.at-icon-target:before {
  content: '\e802';
}

.at-icon-user-x:before {
  content: '\e802';
}

.at-icon-user:before {
  content: '\e802';
}

.at-icon-x:before {
  content: '\e802';
}

.at-icon-loader:before {
  content: '\e802';
}

